h1{
    text-align: center;
    padding-bottom: 4% !important;
   
}
}
p{
    font-size: xx-large !important;
    font-style: italic;
    font: optional;

    
}
footer{
    margin-top: 20% !important;
}